* {
  margin: 0;
  padding: 0;
}

.title_1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}
.title_2 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-weight: 800;
}
.tableoflist {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.NavItems {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.countItem {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.listFoodItem_1 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-weight: 400;
}

.listFoodItem_2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.topMealList {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.sidebarTitles {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.sidebarItems {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.image_div {
  background-image: url('./Images/background_picture.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.footContent {
  background-color: #fff;
}
/* @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .sidebar_elem {
        width: '20rem';

  }
} */
